<h1>Email Verification</h1>
<% if (error) { %>
    <p style="color: red;">
        <%= error %>
    </p>
    <% } else if (message) { %>
        <p style="color: green;">
            <%= message %>
        </p>
        <script>
            setTimeout(() => {
                window.location.href = '/auth/login';
            }, 2000);
        </script>
        <% } %>